<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="fragments :: page_head('Category - Shopping Cart Admin','tag')" />
</head>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

	<title>Categories - Shopping Cart Admin</title>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<!-- https://fontawesome.com/download =>nhấn download Free For Web, copy webfonts, copy css/all.css vào folder fontawesome -->
	<!-- https://fontawesome.com/search =>search từ khóa pointrait =>chọn <i class="fa-solid fa-image-portrait"></i> -->
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>

		<div>
			<h2 class="text-center">Manage Categories</h2>
			<a th:href="@{/categories/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2">+</a> <a
				th:href="@{/categories/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a> <a
				th:href="@{/categories/export/excel}" class="fas fa-file-excel fa-2x icon-dark mr-2"></a> <a
				th:href="@{/categories/export/pdf}" class="fas fa-file-pdf fa-2x icon-dark mr-2"></a>
		</div>

		<div th:replace="fragments :: search_form_and_message('/categories')" />


		<div class="full-details">
			<table class="table table-bordered table-striped table-hover table-reponsive-xl">
				<thead class="thead-dark">
					<tr>
						<th>
						<th th:replace="fragments :: column_link('id','Category ID','/categories','tag')"></th>
						</th>

						<th>Picture</th>

						<th>
						<th th:replace="fragments :: column_link('name','Name','/categories','tag')"></th>
						</th>

						<th class="hideable-column">
						<th th:replace="fragments :: column_link('alias','Alias','/categories','tag')"></th>
						</th>



						<th>
						<th th:replace="fragments :: column_link('enabled','Status','/categories','tag')"></th>
						</th>

						<th>
							<span>Edit</span> &nbsp; &nbsp; &nbsp; <span>Delete</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="category : ${listCategories}">

						<td class="hideable-column">[[${category.id}]]</td>
						<td>
							<div th:replace="fragments :: photos(${category.image},${category.imagePath})" />
						</td>
						<td class="hideable-column">[[${category.name}]] </td>
						<td class="hideable-column">[[${category.alias}]]</td>

						<td>

							<div
								th:replace="fragments :: status(${category.enabled},'category','/categories/' + ${category.id})" />

						</td>
						<td>
							<div th:replace="fragments :: edit('category', '/categories/edit/' + ${category.id})" />
							&nbsp;&nbsp;
							<div
								th:replace="fragments :: delete('category',${category.id},'/categories/delete/' + ${category.id},${!category.hasChildren})" />


						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="less-details ">
			<div class="row  mt-2" th:each="category : ${listCategories}">
				<div class="col-4 ">
					<div th:replace="fragments :: photos(${category.image},${category.imagePath})" />
				</div>
				<div class="col-8">
					<div>[[${category.name}]]</div>
					<div>[[${category.alias}]]</div>
					<div class="mt-2">
						<div
							th:replace="fragments :: status(${category.enabled},'category','/categories/' + ${category.id})" />
						&nbsp;
						<div th:replace="fragments :: edit('category', '/categories/edit/' + ${category.id})" />
						&nbsp;&nbsp;
						<div
							th:replace="fragments :: delete('category',${category.id},'/categories/delete/' + ${category.id},true)" />
					</div>
				</div>
			</div>
		</div>


		<div th:replace="modal ::confirmModal"></div>


		<div th:replace="fragments :: pagination('/categories','categories')"></div>

		<div th:replace="fragments :: footer" />

	</div>

	<script type="text/javascript">
		moduleURL = "[[@{/categories}]]";

		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				showDeleteConfirmModal($(this), "category");
			});
		});

	</script>
</body>

</html>