<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="page_head(title,remove)" th:remove="${remove}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
	<title>[[${title}]]</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/common_form.js}" defer></script>
	<script type="text/javascript" th:src="@{/js/common.js}">
	</script>
</head>

<body>
	<th th:fragment="column_link(fieldName,columnLabel,entityURL,removeTag)" th:remove="${removeTag}"><a th:href="@{ ${entityURL}
		+ '/page/' + ${currentPage} + '?sortField=' + ${fieldName}  + '&sortDir='+ ${ sortField != fieldName ? sortDir : reverseSortDir}
         + ${keyword != null  ? '&keyword=' + keyword : ''}}" class="text-white"> [[${columnLabel}]] </a> <span
			th:if="${sortField == fieldName}" th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
		</span></th>

	<div th:fragment="search_form_and_message(link_form)" class="m-3">
		<form th:action="@{${link_form} + '/page/' + ${currentPage}}" class="form-inline">
			<input type="hidden" name="sortField" th:value="${sortField}" /> <input type="hidden" name="sortDir"
				th:value="${sortDir}" /> Filter:&nbsp;
			<input type="search" name="keyword" th:value="${keyword}" class="form-control" required /> &nbsp;&nbsp;
			<button type="submit" class="btn btn-primary">
				<i class="fas fa-search"></i>
			</button>
			<button type="button" class="btn btn-secondary" onclick="clearFilter()">
				<i class="fas fa-eraser"></i>
			</button>
		</form>
		<div th:if="${message != null}" class="alert alert-success text-center mt-2">[[${message}]]</div>
	</div>
	<div th:fragment="photos(Photos,PhotoPath)" th:remove="tag">
		<span th:if="${Photos == null}" class="fas fa-portait fa-3x icon-silver"></span> <img th:if="${Photos != null}"
			th:src="@{${PhotoPath}}" alt="" style="width: 100px;">
	</div>

	<div th:fragment="status(enabled, entityName, entityURL)" th:remove="tag">
		<a th:if="${enabled == true}" th:href="@{${entityURL} + '/enabled/false'}"
			th:tittle="'Disable this ' + ${entityName}" class="fas fa-check-circle fa-2x icon-green"></a> <a
			th:if="${enabled == false}" th:href="@{${entityURL}+ '/enabled/true'}"
			th:tittle="'Enabled this ' + ${entityName}" class="fas fa-circle fa-2x icon-dark"></a>
	</div>

	<div th:fragment="edit(entityName, editURL)" th:remove="tag">
		<a th:href="@{${editURL}}" th:tittle="'Edit this ' + ${entityName}" class="fas fa-edit fa-2x icon-green"></a>
	</div>

	<div th:fragment="delete(entityName, entityId, deleteURL, visible)" th:remove="tag">
		<a th:if="${visible}" th:href="@{${deleteURL}}" th:entityId="${entityId}"
			th:tittle="'Delete this ' + ${entityName}" class="fas fa-trash fa-2x icon-dark link-delete"></a>
	</div>

	<div th:fragment="pagination(moduleURL,entityName)">
		<div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing [[${entityName}]] # [[${startCount}]] to
				[[${endCount}]] of [[${totalItems}]]</span>
		</div>
		<div class="text-center m-1" th:unless="${totalItems > 0}">
			<span>No [[${entityName}]] found</span>
		</div>
		<div th:if="${totalPages > 1}">
			<nav>
				<ul class="pagination justify-content-center flex-wrap">
					<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments :: page_link(${moduleURL},1,'First')"></a>
					</li>
					<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments :: page_link(${moduleURL},${currentPage - 1},'Previous')"></a>
					</li>
					<li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
						th:each="i : ${#numbers.sequence(1, totalPages)}"><a
							th:replace="fragments :: page_link(${moduleURL},${i},${i})"></a>
					</li>
					<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments :: page_link(${moduleURL},${currentPage + 1},'Next')"></a>
					</li>
					<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments :: page_link(${moduleURL},${totalPages},'Last')"></a>
					</li>
				</ul>
			</nav>

		</div>
	</div>

	<a th:fragment="page_link(moduleURL,pageNumb,label)" th:href="@{ ${moduleURL}+'/page/' + ${pageNumb} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + 
        ${keyword != null  ? '&keyword=' + keyword : ''}}" class="page-link">[[${label}]]</a>

	<div th:fragment="footer" class="text-center m3 ">
		<p>Shopping Cart Control Panel - Coppyright &copy; ShoppingCart</p>
	</div>

</body>

</html>