<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <head th:replace="fragments :: page_head('Home - Shopping Cart Admin','tag')" />
    </head>
<body>
   <div class="container-fluid">
       <div th:replace="navigation :: menu"></div>
        <div>
        <h2 class="text-center">Shopping Cart Control Panel</h2>
        </div>

        <div class="text-center m3 ">
            <p>Shopping Cart Control Panel - Coppyright &copy; ShoppingCart</p>
        </div>   
    </div>
   

</body>
</html>