<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

	<title>Home - Shopping Cart Admin</title>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<!-- https://fontawesome.com/download =>nhấn download Free For Web, copy webfonts, copy css/all.css vào folder fontawesome -->
	<!-- https://fontawesome.com/search =>search từ khóa pointrait =>chọn <i class="fa-solid fa-image-portrait"></i> -->
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
   <div class="container-fluid">
        <div>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <a th:href="@{/}" class="navbar-brand">
                    <img th:src="@{/images/Shopping-logo.png}" alt="" width="100px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="topNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a th:href="@{/users}" class="nav-link dropdown-toggle" data-toggle="dropdown">Users</a>
                            <div class="dropdown-menu">
                                <a th:href="@{/user/new}" class="dropdown-item">Create New</a>
                                <a th:href="@{/users}" class="dropdown-item">View All</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a th:href="@{'/categories'}" class="nav-link dropdown-toggle" data-toggle="dropdown" >Categories</a>
                            <div class="dropdown-menu">
                                <a th:href="@{/categories/new}" class="dropdown-item">Create New</a>
                                <a th:href="@{/categories}" class="dropdown-item">View All</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        
        <div>
        <h2>Shopping Cart Control Panel</h2>
        </div>

        <div class="text-center m3 ">
            <p>Shopping Cart Control Panel - Coppyright &copy; ShoppingCart</p>
        </div>   
    </div>
   

</body>
</html>