<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Login- Shopping Cart Admin','none')" />

<body>
    <div class="container-fluid text-center">
        <div>
            <img th:src="@{/images/shopping-logp.png}" alt="" class="img-fluid" width="500px" />
        </div>
        <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">
            <div th:if="${param.error}">
                <p class="text-danger">
                    [[${session.SPRING_SECURITY_LAST_EXCEPTION.messsage}]]
                </p>
            </div>

            <div th:if="${param.logout}">
                <p class="text-warning">You have been logged out.</p>
            </div>

            <div class="border border-secondary rounded p3">
                <p>Access to Shopping Cart Control Panel</p>
                <p>
                    <input type="email" name="email" class="form-control" placeholder="E-mail" required>
                </p>
                <p>
                    <input type="password" name="password" class="form-control" placeholder="password" required>
                </p>
                <p>
                    <input type="checkbox" name="remember-me" required />&nbsp;Remember Me
                </p>
                <p>
                    <input type="submit" value="Login" class="btn btn-primary">
                </p>
            </div>
        </form>

        <div th:replace="fragments :: footer"></div>
    </div>
</body>

</html>